@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cart-wrapper-item">
    <div class="empty-cart-message">
        <p>Cart is empty</p>
    </div>
